.DS_Store
.gradle

# CMake
cmake-build-debug/


## File-based project format:
*.iws

# Directory-based project format:
java-example/.idea/tasks.xml
java-example/.idea/shelf/
java-example/.idea/usage.statistics.xml

## Plugin-specific files:

# IntelliJ
out/*
build/*

java-example/out/*
java-example/build/*

android-example/build/*
